.git
.gitignore
.vscode
.idea
build
build-*
cmake-build-*
log
tensorRT
vp_data
third_party/onnxruntime-gpu
third_party/tensorrt_python
apps/hospital_monitor_web/.venv
**/__pycache__
*.pyc
*.engine
*.plan
*.trt
*.onnx
*.mp4
*.log
